.label {
    display: block;
    margin-bottom: 9px;
    color: var(--light-text-color);
}

.field {
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 10px;
}

.field::placeholder {
    color: #A7ADB8;
}

.error {
    color: var(--button-bg-color);
}