.btn {
    padding: 6px 20px;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}